<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="author" content="Daniel Black">

<title>Links - With CSS</title>
<link href='./CSS/Links.css' type="text/css" rel="stylesheet"/>
</head>

<header>
    <div>
        <a href="https://www.facebook.com">
            <img src="img/facebook.jpg" width="40" height="40"></a>
        <a href="https://danblackixd19.tumblr.com">
            <img src="img/tumblr.jpg" width="40" height="40"></a>
        <a href="https://www.instagram.com/?hl=en">
            <img src="img/instagram.png" width="40" height="40"></a>
        </div>
<ul class="topbutton">
<li><a href=#top>
    <img src="img/top.svg">
</a></li>
</ul>
</header>
    
</html>