<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="author" content="Daniel Black">
<link href='../CSS/stylenav.css' type="text/css" rel="stylesheet"/>
<title>Navigation With CSS</title>
</head>



<header>
    <nav class="navigation">
           <ul>
               <li><a href="#intro">Introduction</a></li>
               <li><a href="#Background">Background</a></li>
               <li><a href="#History">History</a></li>
               <li><a href="#Changes">Changes</a></li>
               <li><a href="#Our-future">Our Future</a></li>
               <li><a href="#Bibliography">Bibliography</a></li>
           </ul>
           </div>
       </nav>
   </header>

   </html>