ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
}

ul li {
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    list-style: none;

    }

.list-indent {
    margin-left: 2em;}

.list-head {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-transform: uppercase;}

    .red {background: rgb(142, 229, 255)}